<div class="card shadow-effect">
  <img
    src="https://images.pexels.com/photos/1174932/pexels-photo-1174932.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    alt="post-image"
    class="card-img-top"
  />
  <div class="card-body text-center">
    <small class="bg-light text-danger text-center" style="padding: 20px">
      Design
    </small>
    <small class="bg-light text-success text-center" style="padding: 20px">
      Featured
    </small>
    <small class="bg-light text-info text-center" style="padding: 20px">
      Views - 100,256
    </small>
  </div>
  <h5 class="mt-1">HOW TO START A BLOG IN 2023 EDITED NEW CATEGORY</h5>
  <p>
    t is a long established fact that a reader will be distracted by the
    readable content of a page when looking at its layout. The point of using
    Lorem Ipsum is that it has a more-or-less normal distribution of letters, as
    opposed to using 'Content here, content here', making it look like readable
    English. Many desktop publishing packages and web page editors now use Lorem
    Ipsum as their default model text, and a search for 'lorem ipsum' will
    uncover many web sites still in their infancy. Various versions have evolved
    over the years, sometimes by accident, sometimes on purpose (injected humour
    and the like).
  </p>
  <small class="bg-light text-warning text-center ml-3"
    >LAST UPDATED - SEP 20, 2023</small
  >
</div>
